html {
  overflow-y: scroll;
}

body {
	margin-top: 70px;
}

h2.subreddit {
  margin-bottom: 30px;
}

section.reddit-links {
  margin-bottom: 100px;
}

.reddit-link {
	margin-bottom: 10px;
}

.reddit-link .domain {
  font-size: 10px;
}

ul.dropdown-menu a.active {
  color: #333;
  font-weight: bold;
}

ul.dropdown-menu a.active:hover {
  color: white;
}

.link-view {
  position: fixed;
  top: 70px;
  width: 600px;
  height: 500px;
  background-color: white;
  padding: 10px 20px;
  z-index: 100;
  border: 10px solid #eee;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.link-view .close {
  float: right;
  font-size: 15px;
}

.link-view h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
  line-height: 23px;
}

.link-view img {
  max-width: 750px;
  max-height: 330px;
}
