/* Put your CSS here */
html, body {
    margin: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background-color: #f9f9f9;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

}

li img {
	border: 1px solid #999;
	vertical-align: top;
	margin-right: 10px;
}

div.about {
	background-color: #ff9;
	padding: 10px;
}